<% if flash[:notice] %>
<%= notice %>
<% end %>

<h2>Editing Book</h2>

<%= form_for(@book) do |f| %>
<h5>Title</h5>
<%= f.text_field :title %>

<h5>Body</h5>
<%= f.text_area :body %>

<div><%= f.submit 'Update Book' %></div>

<% end %>

<h6><%= link_to 'Show', book_path(@book),:style =>"color:black" %> | <%= link_to 'Back', books_path,:style =>"color:black" %></h6>