<!-- サクセスメッセージ -->
<% if flash[:notice] %>
<span class="message"><%= notice %></span>
<% end %>
<!-- サクセスメッセージ -->

<p><strong>Title:</strong> <%= @book.title %> </p>

<p><strong>Title:</strong> <%= @book.body %> </p>

<h5><%= link_to 'Edit', edit_book_path(@book),:style =>"color:black" %> | <%= link_to 'Back', books_path,:style =>"color:black" %></h5>